.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.title {
  margin: 0 auto;
  padding: 70px;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #131313;
}
.textarea {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px;
  width: 600px;
  height: 120px;
  border-radius: 15px;
  border: 2px solid #131313;
  background-color: #F6F6F6;

}
.keyboard {
  margin-bottom: 15px;
  width: 630px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #131313;
}
.desc {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #292929;
}